$color-primary: #304030;
$color-primary2: #6C9460;
$color-primary3: #5C8051;
$color-primary4: #DFE2B6;
$color-primary5: #C8CC90;
$color-secondary: #E4793E;
$color-secondary2: #F08448;
$color-light: #FFFFFF;
$color-light2: #00000029;
$color-light3: #E8E8E8;
$color-light4: #FFFFFF00;
$color-light5: #0000003D;